:root {
  --pp-blue: #00579f;
  --pp-blue-dark: #142235;
  --pp-blue-light: #2f7fc4;
  --pp-blue-glow: rgba(0,87,159,0.32);

  --pp-gray: #9fa4a9;

  --bg: #07111f;
  --bg2: #0b1626;
  --bg3: #101b2d;

  --border: rgba(255,255,255,0.07);
  --border2: rgba(255,255,255,0.12);

  --text: #f4f7fb;
  --text2: #a8b3c5;
  --text3: #65758c;

  --green: #22c55e;
  --orange: #f59e0b;
  --gold: #e8c84a;
  --red: #e8192c;

  --sidebar-w: 218px;
}
